// Media query mixin //

@mixin mq($break) {
  $value: map-get($breakpoints, $break);
  @media (min-width: $value) {
    @content;
  }
}

// Flex Box Mixin //

@mixin flexy($col-row) {
  display: flex;
  flex-direction: $col-row;
  justify-content: space-between;
  align-items: center;
  //   @include mq("med") {
  //     align-items: center;
  //   }
}

// Grid Mixin //
@mixin grid() {
  body {
    display: grid;
    height: 100vh;
  }
  @media (min-width: 768px) {
    body {
      grid-template-columns: 70px 1fr 1fr;
      grid-template-rows: 70px repeat(7, auto);

      @media (min-width: 1024px) {
        grid-template-columns: 100px 1fr 1fr;
        grid-template-rows: 100px repeat(7, auto);
      }

      grid-template-areas:
        "header header header"
        "aside main main"
        "aside main main"
        "aside main main"
        "aside main main"
        "aside main main"
        "aside main main"
        "aside main main";
    }

    header {
      grid-area: header;
      height: 100%;
      width: 100%;
      display: flex;
      .inner-header {
        align-self: center;
        font-size: 1.5em;
      }
    }
    aside {
      grid-area: aside;
      height: 100%;
      width: 100%;
      .inner-aside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        li {
          margin: 2em 0;
        }
      }
    }
    main {
      grid-area: main;
      display: grid;

      grid-template-columns: 1fr 1fr;
      grid-template-rows: 50px 50px repeat(5, auto);

      grid-template-areas:
        "search search"
        "notification notification"
        "traffic traffic"
        "dailyTraffic mobileUsers"
        "socialStats socialStats"
        "newMembers recentActivity"
        "messageUser settings";
    }

    .searchDashboard {
      grid-area: search;
    }
    .notification {
      grid-area: notification;
    }
    .traffic {
      grid-area: traffic;
      border-bottom: $color-border solid 1px;
      .traffic-chart {
        height: 300px;
      }
    }
    .dailyTraffic {
      grid-area: dailyTraffic;
      border-right: $color-border solid 1px;
    }
    .mobileUsers {
      grid-area: mobileUsers;
    }
    .socialStats {
      grid-area: socialStats;
      border-top: $color-border solid 1px;
      border-bottom: $color-border solid 1px;
      .widgetsContainer {
        display: flex;
        flex-direction: row;
        .widgetCard {
          width: 30%;
        }
      }
    }
    .newMembers {
      grid-area: newMembers;
      border-right: $color-border solid 1px;
      border-bottom: $color-border solid 1px;
      .newMemberContainer:last-child {
        padding-bottom: 1em;
      }
    }
    .recentActivity {
      grid-area: recentActivity;
      border-bottom: $color-border solid 1px;
    }
    .messageUser {
      grid-area: messageUser;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-right: $color-border solid 1px;
      margin-bottom: 1em;
    }
    .settings {
      grid-area: settings;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 1em;
    }
  }
}
