// Main wrapper
.wrapper {
  padding: 0 10px;
  margin-bottom: 2em;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

// Search Dashboard

.searchDashboard {
  background-color: rgb(251, 251, 251);
  display: flex;
  align-items: space-between;
  height: 40px;
  .panel-title {
    background-color: white;
    display: flex;
    border-right: 1px grey solid;
    li {
      margin: auto;
      padding: 0 15px;
      color: grey;
    }
  }
  .panel-search {
    padding-right: 15px;
    border-bottom: 1px grey solid;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
  }
}

form.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

form.search input[type="text"] {
  padding: 6px;
  font-size: 14px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  background: white;
  border-radius: 5px 0 0 5px;
  width: 180px;
}

form.search button {
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0 5px 5px 0;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  transition: background 0.3s ease-in-out;
}
form.search button svg {
  width: 34px;
  height: 18px;
  margin: 0 auto;
  padding: 0;
  fill: grey;
}

form.search button:hover {
  background: $color-background;
  svg {
    fill: white;
  }
}

// Notification
.notification {
  display: flex;
  align-items: center;
}

.alert {
  padding: 6px;
  margin: 10px auto;
  background-color: $color-background;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  width: 90%;
  strong {
    font-size: inherit;
  }
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

// TRAFFIC

.traffic {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.traffic-title {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  h3 {
    margin: 10px auto;
  }
  ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    li {
      background-color: white;
      margin-left: 15px;
      padding: 5px 10px;
      border-radius: 15px;
      cursor: pointer;
    }
    li:first-child {
      margin-left: 0;
    }
    li:hover {
      color: white;
      background-color: $btn-color-hover;
      cursor: pointer;
    }
  }
}

.traffic-chart {
}

// DAILY TRAFFIC

.dailyTraffic {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 10px auto;
  }
}
// Mobile Users
.mobileUsers {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 10px auto;
  }
}

// Social Stats

.socialStats {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 1em auto;
  }
}

.widgetsContainer {
}

.widgetCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  background-color: #eeeff7;
  border: #9799cf 1px solid;
  border-radius: 6px;
  padding: 1em;
  align-items: center;
  margin-bottom: 1em;
  svg {
    width: 5em;
    height: 5em;
  }
  .text {
    flex: 1;
    p:first-child {
      color: $color-background;
      font-weight: 800;
    }
    p:last-child {
      font-size: 2em;
    }
  }
}

// New Members

.newMembers {
  h3 {
    margin: 1em 0;
  }
}

.newMemberCard {
  display: flex;
  padding: 1em 0;
  border-bottom: 1px grey solid;
  justify-content: left;
  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  .newMemberMiniCard {
    margin-left: 1em;
    .name {
    }
    .email {
      color: $color-background;
      font-size: 0.8em;
    }
  }
  .date {
    margin: auto 0 auto auto;
    font-size: 0.9em;
  }
}

#nobottom {
  border-bottom: none;
}

// Recent Actity

.recentActivity {
  h3 {
    margin: 1em 0;
  }
}

.recentActivityCard {
  display: flex;
  padding: 1em 0;
  border-bottom: 1px grey solid;
  justify-content: left;
  &:last-child {
    border-bottom: none;
  }
  img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }
  .recentActivityMiniCard {
    margin: auto auto auto 1em;
    .activity {
      color: $color-background;
      font-size: 0.8em;
    }
    .time {
      color: grey;
      font-size: 0.8em;
    }
  }
  .arrow {
    margin: auto 0 auto 1em;
    font-size: 0.9em;
  }
}

// Message User

.messageUser {
  h3 {
    margin: 1em 0;
  }
}

form.sendEmail {
  display: flex;
  flex-direction: column;
  label {
    display: none;
  }
  input,
  textarea,
  button {
    background: $color-background-off-white;
    border: 1px block solid;
    margin: 1em 0 0 0;
    padding: 0.8em 1.2em;
    border-radius: 8px;
    border: grey solid 1px;
  }
}

form.sendEmail [type="Submit"] {
  background-color: $color-background;
  color: white;
  font-weight: 800;
  border: none;

  &:hover {
    background-color: $color-background-lighten;
  }
}

// SETTINGS
.settings {
  h3 {
    margin: 1em 0;
  }
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.5em auto;
    justify-content: space-between;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $color-background;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-background;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#timezone-offset {
  cursor: pointer;
  background-color: #eeeff7;
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #4d4c72;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("images/caret-down-solid.svg");
  background-position: calc(100% - 15px) calc(1em + 2px);
  background-repeat: no-repeat;
}

.saveReset {
  display: flex;
  justify-content: space-between;
  button {
    background-color: $color-background;
    padding: 0.8em 1em;
    border-radius: 6px;
    width: 45%;
    cursor: pointer;
    color: white;
    &[class="reset"] {
      background-color: grey;
    }
  }
}

@include grid();
